.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}
.form{
    align-items: center;
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
}
.movies{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    list-style: none;
    margin: 0;
    gap: 16px;
}